<a href="https://colab.research.google.com/github/poet1010/colab/blob/main/211108.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
None == None

True

In [3]:
5 > np.nan

False

In [8]:
import pandas as pd

In [6]:
import os
os.chdir('/content/drive/MyDrive/code_one/pd_cook_data')

In [9]:
college = pd.read_csv('college.csv', index_col='INSTNM')
college_ugds_ = college.filter(like='UGDS_')

In [11]:
college_ugds_

                                                    UGDS_WHITE  ...  UGDS_UNKN
INSTNM                                                          ...
Alabama A & M University                                0.0333  ...     0.0138
University of Alabama at Birmingham                     0.5922  ...     0.0100
Amridge University                                      0.2990  ...     0.2715
University of Alabama in Huntsville                     0.6988  ...     0.0350
Alabama State University                                0.0158  ...     0.0137
...                                                        ...  ...        ...
SAE Institute of Technology  San Francisco                 NaN  ...        NaN
Rasmussen College - Overland Park                          NaN  ...        NaN
National Personal Training Institute of Cleveland          NaN  ...        NaN
Bay Area Medical Academy - San Jose Satellite L...         NaN  ...        NaN
Excel Learning Center-San Antonio South                    NaN  ...        NaN

[7535 rows x 9 columns]

In [10]:
college_ugds_.head() == .0019

                                     UGDS_WHITE  ...  UGDS_UNKN
INSTNM                                           ...
Alabama A & M University                  False  ...      False
University of Alabama at Birmingham       False  ...      False
Amridge University                        False  ...      False
University of Alabama in Huntsville       False  ...      False
Alabama State University                  False  ...      False

[5 rows x 9 columns]

In [13]:
college_self_compare = college_ugds_ == college_ugds_
college_self_compare.head()

                                     UGDS_WHITE  ...  UGDS_UNKN
INSTNM                                           ...
Alabama A & M University                   True  ...       True
University of Alabama at Birmingham        True  ...       True
Amridge University                         True  ...       True
University of Alabama in Huntsville        True  ...       True
Alabama State University                   True  ...       True

[5 rows x 9 columns]

In [14]:
college_self_compare.all()

UGDS_WHITE    False
UGDS_BLACK    False
UGDS_HISP     False
UGDS_ASIAN    False
UGDS_AIAN     False
UGDS_NHPI     False
UGDS_2MOR     False
UGDS_NRA      False
UGDS_UNKN     False
dtype: bool

In [15]:
college_ugds_.isnull().sum()

UGDS_WHITE    661
UGDS_BLACK    661
UGDS_HISP     661
UGDS_ASIAN    661
UGDS_AIAN     661
UGDS_NHPI     661
UGDS_2MOR     661
UGDS_NRA      661
UGDS_UNKN     661
dtype: int64

In [16]:
from pandas.testing import assert_frame_equal

In [17]:
assert_frame_equal(college_ugds_, college_ugds_)

In [18]:
college_ugds_.eq(.0019).head()

                                     UGDS_WHITE  ...  UGDS_UNKN
INSTNM                                           ...
Alabama A & M University                  False  ...      False
University of Alabama at Birmingham       False  ...      False
Amridge University                        False  ...      False
University of Alabama in Huntsville       False  ...      False
Alabama State University                  False  ...      False

[5 rows x 9 columns]

In [19]:
college_ugds_.head()

                                     UGDS_WHITE  ...  UGDS_UNKN
INSTNM                                           ...
Alabama A & M University                 0.0333  ...     0.0138
University of Alabama at Birmingham      0.5922  ...     0.0100
Amridge University                       0.2990  ...     0.2715
University of Alabama in Huntsville      0.6988  ...     0.0350
Alabama State University                 0.0158  ...     0.0137

[5 rows x 9 columns]

In [20]:
college_ugds_.count()

UGDS_WHITE    6874
UGDS_BLACK    6874
UGDS_HISP     6874
UGDS_ASIAN    6874
UGDS_AIAN     6874
UGDS_NHPI     6874
UGDS_2MOR     6874
UGDS_NRA      6874
UGDS_UNKN     6874
dtype: int64

In [21]:
college_ugds_.count(axis=0)

UGDS_WHITE    6874
UGDS_BLACK    6874
UGDS_HISP     6874
UGDS_ASIAN    6874
UGDS_AIAN     6874
UGDS_NHPI     6874
UGDS_2MOR     6874
UGDS_NRA      6874
UGDS_UNKN     6874
dtype: int64

In [22]:
college_ugds_cumsum = college_ugds_.cumsum(axis=1)
college_ugds_cumsum.head()

                                     UGDS_WHITE  ...  UGDS_UNKN
INSTNM                                           ...
Alabama A & M University                 0.0333  ...     1.0000
University of Alabama at Birmingham      0.5922  ...     0.9999
Amridge University                       0.2990  ...     1.0000
University of Alabama in Huntsville      0.6988  ...     1.0000
Alabama State University                 0.0158  ...     1.0000

[5 rows x 9 columns]