<a href="https://colab.research.google.com/github/poet1010/colab/blob/main/211107_pd_cook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import os

In [ ]:
pd.set_option('max_columns', 10, 'max_rows', 15)

In [ ]:
%pwd

'/content'

In [ ]:
os.chdir('/content/drive/MyDrive/code_one/pd_cook_data')

In [ ]:
movie = pd.read_csv('movie.csv')

In [ ]:
movie.head()

,color,director_name,num_critic_for_reviews,duration,...,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,...,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,...,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,...,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,...,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,...,12.0,7.1,NaN,0

In [ ]:
movie.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [ ]:
columns = movie.columns
index = movie.index
data = movie.values

In [ ]:
index

RangeIndex(start=0, stop=4916, step=1)

In [ ]:
data

array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
       ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
       ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
       ...,
       ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
       ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
       ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object)

In [ ]:
type(index)

pandas.core.indexes.range.RangeIndex

In [ ]:
type(columns)

pandas.core.indexes.base.Index

In [ ]:
index.values

array([   0,    1,    2, ..., 4913, 4914, 4915])

In [ ]:
columns.values

array(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes',
       'actor_2_name', 'actor_1_facebook_likes', 'gross', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users',
       'cast_total_facebook_likes', 'actor_3_name',
       'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
       'num_user_for_reviews', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score',
       'aspect_ratio', 'movie_facebook_likes'], dtype=object)

In [ ]:
movie.dtypes

color                       object
director_name               object
num_critic_for_reviews     float64
duration                   float64
director_facebook_likes    float64
                            ...
title_year                 float64
actor_2_facebook_likes     float64
imdb_score                 float64
aspect_ratio               float64
movie_facebook_likes         int64
Length: 28, dtype: object

In [ ]:
movie.get_dtype_counts()

AttributeError: ignored

In [ ]:
movie['director_name'].value_counts()[0:10]

Steven Spielberg     26
Woody Allen          22
Clint Eastwood       20
Martin Scorsese      20
Ridley Scott         16
Spike Lee            16
Steven Soderbergh    15
Renny Harlin         15
Oliver Stone         14
Tim Burton           14
Name: director_name, dtype: int64

In [ ]:
type(movie['director_name'])

pandas.core.series.Series

In [ ]:
director = movie['director_name']
director.name

'director_name'

In [ ]:
director.to_frame().head()

       director_name
0      James Cameron
1     Gore Verbinski
2         Sam Mendes
3  Christopher Nolan
4        Doug Walker

In [ ]:
s_attr_methods = set(dir(pd.Series))
len(s_attr_methods)

425

In [ ]:
df_attr_methods = set(dir(pd.DataFrame))
len(df_attr_methods)

427

In [ ]:
actor_1_fb_likes = movie['actor_1_facebook_likes']

In [ ]:
actor_1_fb_likes.head()

0     1000.0
1    40000.0
2    11000.0
3    27000.0
4      131.0
Name: actor_1_facebook_likes, dtype: float64

In [ ]:
pd.set_option('max_rows', 10)
director.value_counts()

Steven Spielberg    26
Woody Allen         22
Clint Eastwood      20
Martin Scorsese     20
Ridley Scott        16
                    ..
Lance Kawas          1
Johnnie To           1
Jeff Nathanson       1
Joe Chappelle        1
Doug Atchison        1
Name: director_name, Length: 2397, dtype: int64

In [ ]:
actor_1_fb_likes.value_counts()

1000.0     436
11000.0    206
2000.0     189
3000.0     150
12000.0    131
          ...
362.0        1
216.0        1
859.0        1
225.0        1
334.0        1
Name: actor_1_facebook_likes, Length: 877, dtype: int64

In [ ]:
director.size

4916

In [ ]:
director.shape

(4916,)

In [ ]:
len(director)

4916

In [ ]:
director.count()

4814

In [ ]:
actor_1_fb_likes.describe()

count      4909.000000
mean       6494.488491
std       15106.986884
min           0.000000
25%         607.000000
50%         982.000000
75%       11000.000000
max      640000.000000
Name: actor_1_facebook_likes, dtype: float64

In [ ]:
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,...,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,...,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,...,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,...,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,...,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,...,NaN,12.0,7.1,NaN,0

In [ ]:
director.describe()

count                 4814
unique                2397
top       Steven Spielberg
freq                    26
Name: director_name, dtype: object

In [ ]:
movie[director == 'Christopher Nolan'][0:20]

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,...,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
3,Color,Christopher Nolan,813.0,164.0,22000.0,...,2012.0,23000.0,8.5,2.35,164000
66,Color,Christopher Nolan,645.0,152.0,22000.0,...,2008.0,13000.0,9.0,2.35,37000
96,Color,Christopher Nolan,712.0,169.0,22000.0,...,2014.0,11000.0,8.6,2.35,349000
97,Color,Christopher Nolan,642.0,148.0,22000.0,...,2010.0,27000.0,8.8,2.35,175000
120,Color,Christopher Nolan,478.0,128.0,22000.0,...,2005.0,14000.0,8.3,2.35,15000
1057,Color,Christopher Nolan,185.0,118.0,22000.0,...,2002.0,509.0,7.2,2.35,0
1222,Color,Christopher Nolan,341.0,130.0,22000.0,...,2006.0,20000.0,8.5,2.35,49000
3646,Black and White,Christopher Nolan,274.0,113.0,22000.0,...,2000.0,651.0,8.5,2.35,40000

In [ ]:

director.value_counts().head(5)

Steven Spielberg    26
Woody Allen         22
Clint Eastwood      20
Martin Scorsese     20
Ridley Scott        16
Name: director_name, dtype: int64

In [ ]:
actor_1_fb_likes.isnull().sum()

7

In [ ]:
actor_1_fb_likes.dtype

dtype('float64')

In [ ]:
actor_1_fb_likes.isnull().mean()

0.0014239218877135883

In [ ]:
movie.shape

(4916, 28)

In [ ]:
movie2 = movie.set_index('movie_title')
movie2

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,...,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,...,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,...,2007.0,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,...,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,...,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,...,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
Signed Sealed Delivered,Color,Scott Smith,1.0,87.0,2.0,...,2013.0,470.0,7.7,NaN,84
The Following,Color,NaN,43.0,43.0,NaN,...,NaN,593.0,7.5,16.00,32000
A Plague So Pleasant,Color,Benjamin Roberds,13.0,76.0,0.0,...,2013.0,0.0,6.3,NaN,16
Shanghai Calling,Color,Daniel Hsia,14.0,100.0,0.0,...,2012.0,719.0,6.3,2.35,660
My Date with Drew,Color,Jon Gunn,43.0,90.0,16.0,...,2004.0,23.0,6.6,1.85,456

In [ ]:
movie2.reset_index()

,movie_title,color,director_name,num_critic_for_reviews,duration,...,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Avatar,Color,James Cameron,723.0,178.0,...,2009.0,936.0,7.9,1.78,33000
1,Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,...,2007.0,5000.0,7.1,2.35,0
2,Spectre,Color,Sam Mendes,602.0,148.0,...,2015.0,393.0,6.8,2.35,85000
3,The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,...,2012.0,23000.0,8.5,2.35,164000
4,Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,...,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
4911,Signed Sealed Delivered,Color,Scott Smith,1.0,87.0,...,2013.0,470.0,7.7,NaN,84
4912,The Following,Color,NaN,43.0,43.0,...,NaN,593.0,7.5,16.00,32000
4913,A Plague So Pleasant,Color,Benjamin Roberds,13.0,76.0,...,2013.0,0.0,6.3,NaN,16
4914,Shanghai Calling,Color,Daniel Hsia,14.0,100.0,...,2012.0,719.0,6.3,2.35,660
4915,My Date with Drew,Color,Jon Gunn,43.0,90.0,...,2004.0,23.0,6.6,1.85,456

In [ ]:
pd.reset_option('max_rows')

In [ ]:
director.value_counts()

Steven Spielberg    26
Woody Allen         22
Clint Eastwood      20
Martin Scorsese     20
Ridley Scott        16
                    ..
Lance Kawas          1
Johnnie To           1
Jeff Nathanson       1
Joe Chappelle        1
Doug Atchison        1
Name: director_name, Length: 2397, dtype: int64

In [ ]:
idx_rename = {'Avatar':'Ratava', 'Spectre':'Ertceps'}
col_rename = {'director_name': 'Director Name', 'num_critic_for_reviews':'Critical Reviews'}

In [ ]:
movie2.rename(index=idx_rename, columns=col_rename).head()

,color,Director Name,Critical Reviews,duration,director_facebook_likes,...,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,
Ratava,Color,James Cameron,723.0,178.0,0.0,...,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,...,2007.0,5000.0,7.1,2.35,0
Ertceps,Color,Sam Mendes,602.0,148.0,0.0,...,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,...,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,...,NaN,12.0,7.1,NaN,0

In [ ]:
movie = pd.read_csv('movie.csv', index_col='movie_title')
index = movie.index
columns = movie.columns

index_list = index.tolist()
column_list = columns.tolist()

index_list[0] = 'Ratava'
index_list[2] = 'Ertceps'
column_list[1] = 'Director Name'
column_list[2] = 'Critical Reviews'

In [ ]:
print(index_list[:5])

['Ratava', "Pirates of the Caribbean: At World's End", 'Ertceps', 'The Dark Knight Rises', 'Star Wars: Episode VII - The Force Awakens']

In [ ]:
print(column_list)

['color', 'Director Name', 'Critical Reviews', 'duration', 'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name', 'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name', 'num_voted_users', 'cast_total_facebook_likes', 'actor_3_name', 'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link', 'num_user_for_reviews', 'language', 'country', 'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score', 'aspect_ratio', 'movie_facebook_likes']

In [ ]:
movie.index = index_list
movie.columns = column_list

In [ ]:
movie.head()

,color,Director Name,Critical Reviews,duration,director_facebook_likes,...,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
Ratava,Color,James Cameron,723.0,178.0,0.0,...,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,...,2007.0,5000.0,7.1,2.35,0
Ertceps,Color,Sam Mendes,602.0,148.0,0.0,...,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,...,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,...,NaN,12.0,7.1,NaN,0

In [ ]:
movie = pd.read_csv('movie.csv')

In [ ]:
movie['has seen'] = 0

In [ ]:
movie.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes', 'has seen'],
      dtype='object')

In [ ]:
movie['actor_director_facebook_likes'] = (movie['actor_1_facebook_likes'] + 
                                              movie['actor_2_facebook_likes'] + 
                                              movie['actor_3_facebook_likes'] + 
                                              movie['director_facebook_likes'])

In [ ]:
movie['actor_director_facebook_likes'].isnull().sum()

122

In [ ]:
movie['actor_director_facebook_likes'] = movie['actor_director_facebook_likes'].fillna(0)

In [ ]:
movie['is_cast_likes_more'] = (movie['cast_total_facebook_likes'] >= 
                                  movie['actor_director_facebook_likes'])

In [ ]:
movie['is_cast_likes_more'].all()

False

In [ ]:
movie = movie.drop('actor_director_facebook_likes', axis='columns')

In [ ]:
movie['actor_total_facebook_likes'] = (movie['actor_1_facebook_likes'] + 
                                       movie['actor_2_facebook_likes'] + 
                                       movie['actor_3_facebook_likes'])

movie['actor_total_facebook_likes'] = movie['actor_total_facebook_likes'].fillna(0)

In [ ]:
movie['is_cast_likes_more'] = movie['cast_total_facebook_likes'] >= \
                                  movie['actor_total_facebook_likes']
    
movie['is_cast_likes_more'].all()

True

In [ ]:
movie['pct_actor_cast_like'] = (movie['actor_total_facebook_likes'] / 
                                movie['cast_total_facebook_likes'])

In [ ]:
movie['pct_actor_cast_like'].min(), movie['pct_actor_cast_like'].max()

(0.0, 1.0)

In [ ]:
movie.set_index('movie_title')['pct_actor_cast_like'].head()

movie_title
Avatar                                        0.577369
Pirates of the Caribbean: At World's End      0.951396
Spectre                                       0.987521
The Dark Knight Rises                         0.683783
Star Wars: Episode VII - The Force Awakens    0.000000
Name: pct_actor_cast_like, dtype: float64

In [ ]:
movie.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes', 'has seen',
       'is_cast_likes_more', 'actor_total_facebook_likes',
       'pct_actor_cast_like'],
      dtype='object')

In [ ]:
profit_index = movie.columns.get_loc('gross') + 1
profit_index

9

In [ ]:
movie.insert(loc=profit_index, column='profit', value=movie['gross'] - movie['budget'])

In [ ]:
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,...,movie_facebook_likes,has seen,is_cast_likes_more,actor_total_facebook_likes,pct_actor_cast_like
0,Color,James Cameron,723.0,178.0,0.0,...,33000,0,True,2791.0,0.577369
1,Color,Gore Verbinski,302.0,169.0,563.0,...,0,0,True,46000.0,0.951396
2,Color,Sam Mendes,602.0,148.0,0.0,...,85000,0,True,11554.0,0.987521
3,Color,Christopher Nolan,813.0,164.0,22000.0,...,164000,0,True,73000.0,0.683783
4,NaN,Doug Walker,NaN,NaN,131.0,...,0,0,True,0.0,0.000000

In [ ]:
movie['profit'].sort_values(ascending=False)[0:20]

movie_title
Avatar                                           523505847.0
Jurassic World                                   502177271.0
Titanic                                          458672302.0
Star Wars: Episode IV - A New Hope               449935665.0
E.T. the Extra-Terrestrial                       424449459.0
The Avengers                                     403279547.0
The Lion King                                    377783777.0
Star Wars: Episode I - The Phantom Menace        359544677.0
The Dark Knight                                  348316061.0
The Hunger Games                                 329999255.0
Deadpool                                         305024263.0
The Hunger Games: Catching Fire                  294645577.0
Jurassic Park                                    293784000.0
Despicable Me 2                                  292049635.0
American Sniper                                  291323553.0
Finding Nemo                                     286838870.0
Shrek 2                                          286471036.0
The Lord of the Rings: The Return of the King    283019252.0
Star Wars: Episode VI - Return of the Jedi       276625409.0
Forrest Gump                                     274691196.0
Name: profit, dtype: float64

In [ ]:
movie = pd.read_csv('movie.csv')

In [ ]:
pd.options.display.max_columns = 40

In [ ]:
movie_actor_director = movie[['actor_1_name', 'actor_2_name', 'actor_3_name', 'director_name']]
movie_actor_director.head()

      actor_1_name      actor_2_name          actor_3_name      director_name
0      CCH Pounder  Joel David Moore             Wes Studi      James Cameron
1      Johnny Depp     Orlando Bloom        Jack Davenport     Gore Verbinski
2  Christoph Waltz      Rory Kinnear      Stephanie Sigman         Sam Mendes
3        Tom Hardy    Christian Bale  Joseph Gordon-Levitt  Christopher Nolan
4      Doug Walker        Rob Walker                   NaN        Doug Walker

In [ ]:
movie[['director_name']].head()

       director_name
0      James Cameron
1     Gore Verbinski
2         Sam Mendes
3  Christopher Nolan
4        Doug Walker

In [ ]:
cols = ['actor_1_name', 'actor_2_name', 'actor_3_name', 'director_name']
movie_actor_director = movie[cols]

In [ ]:
movie = pd.read_csv('movie.csv', index_col='movie_title')
movie.get_dtype_counts()

AttributeError: ignored

In [ ]:
movie.select_dtypes(include=['int']).head()

,num_voted_users,cast_total_facebook_likes,movie_facebook_likes
movie_title,,,
Avatar,886204,4834,33000
Pirates of the Caribbean: At World's End,471220,48350,0
Spectre,275868,11700,85000
The Dark Knight Rises,1144337,106759,164000
Star Wars: Episode VII - The Force Awakens,8,143,0

In [ ]:
movie.select_dtypes(include=['number']).head()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,
Avatar,723.0,178.0,0.0,855.0,1000.0,760505847.0,886204,4834,0.0,3054.0,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,302.0,169.0,563.0,1000.0,40000.0,309404152.0,471220,48350,0.0,1238.0,300000000.0,2007.0,5000.0,7.1,2.35,0
Spectre,602.0,148.0,0.0,161.0,11000.0,200074175.0,275868,11700,1.0,994.0,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,813.0,164.0,22000.0,23000.0,27000.0,448130642.0,1144337,106759,0.0,2701.0,250000000.0,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,NaN,131.0,NaN,131.0,NaN,8,143,0.0,NaN,NaN,NaN,12.0,7.1,NaN,0

In [ ]:
movie.filter(like='facebook').head()

,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,cast_total_facebook_likes,actor_2_facebook_likes,movie_facebook_likes
movie_title,,,,,,
Avatar,0.0,855.0,1000.0,4834,936.0,33000
Pirates of the Caribbean: At World's End,563.0,1000.0,40000.0,48350,5000.0,0
Spectre,0.0,161.0,11000.0,11700,393.0,85000
The Dark Knight Rises,22000.0,23000.0,27000.0,106759,23000.0,164000
Star Wars: Episode VII - The Force Awakens,131.0,NaN,131.0,143,12.0,0

In [ ]:
movie.filter(regex='\d').head()

,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,actor_1_name,actor_3_name,actor_2_facebook_likes
movie_title,,,,,,
Avatar,855.0,Joel David Moore,1000.0,CCH Pounder,Wes Studi,936.0
Pirates of the Caribbean: At World's End,1000.0,Orlando Bloom,40000.0,Johnny Depp,Jack Davenport,5000.0
Spectre,161.0,Rory Kinnear,11000.0,Christoph Waltz,Stephanie Sigman,393.0
The Dark Knight Rises,23000.0,Christian Bale,27000.0,Tom Hardy,Joseph Gordon-Levitt,23000.0
Star Wars: Episode VII - The Force Awakens,NaN,Rob Walker,131.0,Doug Walker,NaN,12.0

In [ ]:
movie.filter(items=['actor_1_name', 'asdf']).head()

NameError: ignored

In [ ]:
import pandas as pd

In [ ]:
%pwd

'/content'

In [ ]:
import os
os.chdir('/content/drive/MyDrive/code_one/pd_cook_data')

In [ ]:
movie = pd.read_csv('movie.csv')

In [ ]:
movie.filter(items=['actor_1_name', 'asdf']).head()

      actor_1_name
0      CCH Pounder
1      Johnny Depp
2  Christoph Waltz
3        Tom Hardy
4      Doug Walker

In [ ]:
movie.head()

   color      director_name  ...  aspect_ratio  movie_facebook_likes
0  Color      James Cameron  ...          1.78                 33000
1  Color     Gore Verbinski  ...          2.35                     0
2  Color         Sam Mendes  ...          2.35                 85000
3  Color  Christopher Nolan  ...          2.35                164000
4    NaN        Doug Walker  ...           NaN                     0

[5 rows x 28 columns]

In [ ]:
disc_core = ['movie_title','title_year', 'content_rating','genres']
disc_people = ['director_name','actor_1_name', 'actor_2_name','actor_3_name']
disc_other = ['color','country','language','plot_keywords','movie_imdb_link']
cont_fb = ['director_facebook_likes','actor_1_facebook_likes','actor_2_facebook_likes',
           'actor_3_facebook_likes', 'cast_total_facebook_likes', 'movie_facebook_likes']
cont_finance = ['budget','gross']
cont_num_reviews = ['num_voted_users','num_user_for_reviews', 'num_critic_for_reviews']
cont_other = ['imdb_score','duration', 'aspect_ratio', 'facenumber_in_poster']

In [ ]:
new_col_order = disc_core + disc_people + disc_other + \
                    cont_fb + cont_finance + cont_num_reviews + cont_other
set(movie.columns) == set(new_col_order)

True

In [ ]:
movie2 = movie[new_col_order]
movie2.head()

                                  movie_title  ...  facenumber_in_poster
0                                      Avatar  ...                   0.0
1    Pirates of the Caribbean: At World's End  ...                   0.0
2                                     Spectre  ...                   1.0
3                       The Dark Knight Rises  ...                   0.0
4  Star Wars: Episode VII - The Force Awakens  ...                   0.0

[5 rows x 28 columns]

In [ ]:
pd.options.display.max_rows = 15
movie.shape

(4916, 28)

In [ ]:
movie.size

137648

In [ ]:
movie.describe()

       num_critic_for_reviews     duration  ...  aspect_ratio  movie_facebook_likes
count             4867.000000  4901.000000  ...   4590.000000           4916.000000
mean               137.988905   107.090798  ...      2.222349           7348.294142
std                120.239379    25.286015  ...      1.402940          19206.016458
min                  1.000000     7.000000  ...      1.180000              0.000000
25%                 49.000000    93.000000  ...      1.850000              0.000000
50%                108.000000   103.000000  ...      2.350000            159.000000
75%                191.000000   118.000000  ...      2.350000           2000.000000
max                813.000000   511.000000  ...     16.000000         349000.000000

[8 rows x 16 columns]

In [ ]:
movie.describe(percentiles=[.01, .3, .99])

       num_critic_for_reviews     duration  ...  aspect_ratio  movie_facebook_likes
count             4867.000000  4901.000000  ...   4590.000000           4916.000000
mean               137.988905   107.090798  ...      2.222349           7348.294142
std                120.239379    25.286015  ...      1.402940          19206.016458
min                  1.000000     7.000000  ...      1.180000              0.000000
1%                   2.000000    43.000000  ...      1.330000              0.000000
30%                 60.000000    95.000000  ...      1.850000              0.000000
50%                108.000000   103.000000  ...      2.350000            159.000000
99%                546.680000   189.000000  ...      4.000000          93850.000000
max                813.000000   511.000000  ...     16.000000         349000.000000

[9 rows x 16 columns]

In [ ]:
movie.isnull().sum()

color                       19
director_name              102
num_critic_for_reviews      49
duration                    15
director_facebook_likes    102
                          ...
title_year                 106
actor_2_facebook_likes      13
imdb_score                   0
aspect_ratio               326
movie_facebook_likes         0
Length: 28, dtype: int64

In [ ]:
movie.min(skipna=False)

num_critic_for_reviews     NaN
duration                   NaN
director_facebook_likes    NaN
actor_3_facebook_likes     NaN
actor_1_facebook_likes     NaN
                          ...
title_year                 NaN
actor_2_facebook_likes     NaN
imdb_score                 1.6
aspect_ratio               NaN
movie_facebook_likes         0
Length: 19, dtype: object

In [ ]:
movie.isnull().head()

   color  director_name  ...  aspect_ratio  movie_facebook_likes
0  False          False  ...         False                 False
1  False          False  ...         False                 False
2  False          False  ...         False                 False
3  False          False  ...         False                 False
4   True          False  ...          True                 False

[5 rows x 28 columns]

In [ ]:
movie.isnull().sum().sum()

2654

In [ ]:
movie.select_dtypes(['object']).fillna('').max()

color                                                          Color
director_name                                          Ã‰tienne Faure
actor_2_name                                           Zubaida Sahar
genres                                                       Western
actor_1_name                                           Ã“scar Jaenada
                                         ...
plot_keywords                                    zombie|zombie spoof
movie_imdb_link    http://www.imdb.com/title/tt5574490/?ref_=fn_t...
language                                                        Zulu
country                                                 West Germany
content_rating                                                     X
Length: 12, dtype: object

In [ ]:
college = pd.read_csv('college.csv')

In [ ]:
college + 5

TypeError: ignored

In [ ]:
college = pd.read_csv('college.csv', index_col='INSTNM')
college_ugds_ = college.filter(like='UGDS_')

In [ ]:
college.head()

                                           CITY  ... GRAD_DEBT_MDN_SUPP
INSTNM                                           ...
Alabama A & M University                 Normal  ...              33888
University of Alabama at Birmingham  Birmingham  ...            21941.5
Amridge University                   Montgomery  ...              23370
University of Alabama in Huntsville  Huntsville  ...              24097
Alabama State University             Montgomery  ...            33118.5

[5 rows x 26 columns]

In [ ]:
college[college['STABBR'] == "CA"].sort_values(by='UGDS', ascending=False)[0:15]

                                                 CITY  ... GRAD_DEBT_MDN_SUPP
INSTNM                                                 ...
Ashford University                          San Diego  ...              32823
California State University-Northridge     Northridge  ...              15000
California State University-Fullerton       Fullerton  ...              14944
East Los Angeles College                Monterey Park  ...               8000
California State University-Long Beach     Long Beach  ...              15446
University of California-Los Angeles      Los Angeles  ...              16126
San Diego State University                  San Diego  ...              15998
Santa Monica College                     Santa Monica  ...               8000
University of California-Davis                  Davis  ...              14833
Santa Ana College                           Santa Ana  ...              10500
University of California-Berkeley            Berkeley  ...              14200
American River College                     Sacramento  ...              11410
San Jose State University                    San Jose  ...              15628
Mt San Antonio College                         Walnut  ...               5250
California State University-Sacramento     Sacramento  ...              16500

[15 rows x 26 columns]

In [ ]:
np.nan == np.nan

NameError: ignored